h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-dark);
  font-family: var(--font-family), sans-serif;
  font-weight: 200;
  line-height: 1.2;
}

h2, .h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

h3, .h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

ul li:before {
    display:none;
}

li.sidelist a, li.sidelist>a {
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

#TableOfContents ul ul {
    margin-bottom: 0px;
}

#TableOfContents ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 0px;
}

#TableOfContents ul li {
    padding: 0px;
    min-height: 20px;
}

#TableOfContents ul li:before {
    display:none;
}

#TableOfContents ul li a:before {
    content: "# ";
}
#TableOfContents ul li a {
    font-size: 14px;
    padding:0px;
}

.subtitle {
    font-size: 22px;
    padding-top: 10px;
}

li.sidelist>a {
    font-size: 15px;
    padding-left: 0px;
}

div.sidebar-title {
    font-size: 25px;
    letter-spacing: 0.1em;
    color: var(--primary-color);
    padding: 0 0 15px 0;
}

div.sidebar-all-docs a {
    font-size: 14px;
}

div.sidebar-all-docs a i {
    padding-right: 10px;
}

div.sidebar-all-docs {
    height: 50px;
}

.sidebar {
    background-color: transparent;
}

.list-styled { 
    padding-left: 20px;
}
.list-styled li {
    padding-left: 10px;
}

.list-styled .active>a {
    padding: 0 0 3px 3px;
    font-weight: bold;
    background-color: #EEE;
}

li.sidelist {
    margin-bottom: 0px;
}
li.sidelist ul {
    margin-bottom: 20px;
}

.section-sm {
    padding-top: 0px;
}

pre {
    font-size: 12px;
}

table.reference {
    border: 0px;
    font-size: 12px;
}

table.reference td{
    border: 0px;
    background-color: white;
    padding-bottom: 0px;
    padding-top: 20px;
}

table.reference tr{
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
}

div.section_title {
    margin-bottom: 0px;
    font-size: 16px;
}

div.section_subtitle {
    font-size: 14px;
}

table.reference li {
    margin-bottom: 5px;
    font-size: 14px;
}

table.reference li a{ 
    color: #333;
    text-decoration-line: underline;
}

div.clients_list li {
    padding: 0px;
    margin: 0 0 0 20px;
}

section {
    padding-top: 100px;
}

section.section {
    padding-top: 50px;
    padding-bottom: 0px;
}

table.languages {
    border: 0px;
    margin-left: 20px;
}

table.languages td {
    text-align: left;
    height: 60px;
    border: 0px;
    background-color: white;
}