h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-dark);
  font-family: var(--font-family), sans-serif;
  font-weight: 200;
  line-height: 1.2;
}

h2, .h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

h3, .h3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

ul li:before {
    display:none;
}

li.sidelist a, li.sidelist>a {
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

#TableOfContents ul ul {
    margin-bottom: 0px;
}

#TableOfContents ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 0px;
}

#TableOfContents ul li {
    padding: 0px;
    min-height: 20px;
}

#TableOfContents ul li:before {
    display:none;
}

#TableOfContents ul li a:before {
    content: "# ";
}
#TableOfContents ul li a {
    font-size: 14px;
    padding:0px;
}

.subtitle {
    font-size: 22px;
    padding-top: 10px;
}

li.sidelist>a {
    font-size: 15px;
    padding-left: 0px;
}

div.sidebar-title {
    font-size: 25px;
    letter-spacing: 0.1em;
    color: var(--primary-color);
    padding: 0 0 15px 0;
}

div.sidebar-all-docs a {
    font-size: 14px;
}

div.sidebar-all-docs a i {
    padding-right: 10px;
}

div.sidebar-all-docs {
    height: 50px;
}

.sidebar {
    background-color: transparent;
}

.list-styled { 
    padding-left: 20px;
}
.list-styled li {
    padding-left: 10px;
}

.list-styled .active>a {
    padding: 0 0 3px 3px;
    font-weight: bold;
    background-color: #EEE;
}

li.sidelist {
    margin-bottom: 0px;
}
li.sidelist ul {
    margin-bottom: 5px;
}

.section-sm {
    padding-top: 0px;
}

pre {
    font-size: 12px;
}

table.reference {
    border: 0px;
    font-size: 12px;
}

table.reference td{
    border: 0px;
    background-color: white;
    padding-bottom: 0px;
    padding-top: 20px;
}

table.reference tr{
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
}

div.section_title {
    margin-bottom: 0px;
    font-size: 16px;
}

div.section_subtitle {
    font-size: 14px;
}

table.reference li {
    margin-bottom: 5px;
    font-size: 14px;
}

table.reference li a{ 
    color: #333;
    text-decoration-line: underline;
}

div.clients_list li {
    padding: 0px;
    margin: 0 0 0 20px;
}

section {
    padding-top: 100px;
}

section.section {
    padding-top: 50px;
    padding-bottom: 0px;
}

table.languages {
    border: 0px;
    margin-left: 20px;
}

table.languages td {
    text-align: left;
    height: 60px;
    border: 0px;
    background-color: white;
}

div.separator {
    padding: 10px 25px;
    font-size: 10px;
    font-weight: bold;
}

code {
    font-size: 12px;
    font-style: italic;
}

.code-tabs {
    border: 0px;
}
.code-tabs div.tab-content {
    padding: 0px;
}

.code-tabs div.tab-content pre {
    padding:10px;
    margin: 0px;
    border: 1px solid #dee2e6;
}

.code-tabs .nav-tabs .nav-item {
    background-color: #eee;
    border: 1px solid #dee2e6;
}

.code-tabs .nav-tabs .nav-item.active {
    background: white;
    border-bottom: 0px;
}

.code-tabs .nav-tabs .nav-item .nav-link {
    font-size: 11px;
    color: #666;
}

.code-tabs .nav-tabs .nav-item.active .nav-link {
    color: black;
    font-weight: bold;
}

.code-tabs .tab-content .tab-pane {
    margin-top: -1px;
}

.navbar-light div.navbar-brand-container {
    background-color: #fafafa;
    width: 300px;
    height: 50px;
}

.navbar-light {
    background-color: #fafafa;
}

.navbar-light #navigation {
    background-color: #fff;
    height: 50px;
    margin-right: 15px;
    padding-right: 20px;
}
.img-fluid {
    padding-top: 10px;
}

.navbar_docs_title {
    position:relative; 
    font-size: 15px;
    top: 10px;
    color: #fff
}

.navbar-light .navbar_docs_title {
    color: var(--primary-color);
}

.btn-get-keys {
}

.btn-get-keys .btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
    margin-top: 5px;
    padding: 6px 24px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1.8;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-sidebar {
    font-size: 24px;
  }

  .beta {
    background: #EE0000;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
  }