<!-- footer -->
<footer class="section pb-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 text-md-left text-center">
          <p class="mb-md-0 mb-4">{{ .Site.Params.copyright | markdownify }}</p>
        </div>
        <div class="col-md-4 text-md-right text-center">
          <ul class="list-inline">
            {{ range .Site.Params.social }}
            <li class="list-inline-item">
              <a
                class="text-color d-inline-block p-2"
                href="{{ .link | safeURL }}"
                aria-label="{{ .name }}"
                ><i class="{{ .icon }}"></i
              ></a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
  <style>
       .form-control {
            border-radius: 10px !important;
        }
        .banner {
            background-color: #0e1c42 !important;
        }
        .overlay::before {
            opacity: 0 !important;
        }
        .bg-cover {
            background-size: contain;
            background-position: right;
        }

  </style>

  <!-- Main Script -->
  {{ $script := resources.Get "js/script.js" | minify}}
  <script src="{{ $script.Permalink }}"></script>
  

  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script>

    function setCookie(key, value, expiry) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';path=/' + ';expires=' + expires.toUTCString();
    }

    function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
    }


    function defaultPageTabs(tabIndex) {
        let tabs = $('.code-tabs')
        for(var i = 0; i<tabs.length; i++) {
            $(tabs[i]).find('.active').removeClass('active');
            tab = $(tabs[i]).find('.tab-pane').eq(tabIndex);
            $(tab).addClass('active');
            tabHeader = $(tabs[i]).find('.nav-item').eq(tabIndex);
            $(tabHeader).addClass('active');
        }
    }

    $('document').ready(function(){
        hljs.highlightAll();
        mermaid.initialize({ startOnLoad: true });


        $('.nav-tabs a').click(function (e) {
            var tab = $(this).parent();
            var tabIndex = tab.index();
            defaultPageTabs(tabIndex);
            setCookie('tabIndex', tabIndex, 200);
        });

        tabIndex = getCookie('tabIndex');
        if (tabIndex != null) {
            defaultPageTabs(tabIndex);
        }

    });
  </script>

<link rel="stylesheet" href="/css/styles.css">
